.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .preferences-item:last-child{
    margin-bottom: 0px;
}
  
  @media screen and (min-width: 768px) {
    .container {
      max-width: 766px;
    }

    .preferences-item{
        width: calc((100% - 24px) / 2); 
        align-items: flex-start;
        display: block; 
    }

  

    .preferences-list{
        display: flex;
        flex-wrap: wrap;    
        gap: 72px 24px;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        border-radius: 0px 0px 4px 4px;
        justify-content: center;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 72px 24px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3); 
        
    }


    .footer-container{
        min-width: 768px;
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
  }
  

  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }

    .hero-title{
        color: var(--color-footer-logo);
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
        max-width: 496px;
        }

       
        .preferences-list{
            display: flex;
            gap: 24px;
            
        }

        .preferences-item{
            width: calc((100% - 72px) / 4); 
            display: block;
        }

        .preferences-icon-box{
            display: flex;
        }

        .projects-intro{
            display: flex;
        }

        .team {
            padding: 120px 0;
        }

        .team-list {
            display: flex;
            align-items: center;
            gap: 24px;
            border-radius: 0px 0px 4px 4px;
        
        }
        .team-item{
            width: calc((100% - 72px) / 4);
        }


        .customers {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .customers-container {
            width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
           
        }

        .customers-item {
            width: calc((100% - 120px) / 6); 
           
        }

        .footer-container{
            background-color: #2E2F42;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            
        }
  }