.container {
    max-width: 428px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav-list{
    display: none;
  }

  .address{
    display: none;
  }
  .preferences-item:last-child{
    margin-bottom: 0px;
}

.subscribe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-card-container{
    padding: 32px 16px;
}
  
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
      min-width: 768px;
    }
    
    .hamburger-btn{
        display: none;
    }

    .mob-menu{
        display: none;
    }

    .header-container{
        display: flex;
        align-items: center;
       
        justify-content: space-between;
        
    }
    .main-nav-list{
        display: flex;
        gap: 40px;
      }
    
      .address{
        display: block;
        /* flex-direction: column; */
      }

      .address-list{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
      }

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .overlay {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url("../images/hero-bg/people-office-x2.jpg");
      }
    }

      
    .current-page::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background: #404BBF;
        border-radius: 2px; 
        display: block;
       
    }

    .preferences-item{
        width: calc((100% - 24px) / 2); 
        align-items: flex-start;
        display: block; 
    }

    .preferences-container{
        
    }

    .preferences-list{
        display: flex;
        flex-wrap: wrap;    
        gap: 72px 24px;
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        border-radius: 0px 0px 4px 4px;
        justify-content: center;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 72px 24px;
    }

    .customers-item {
        width: calc((100% - 48px) / 3); 
        
    }

    .modal-window{
        max-width: 408px;
    }

    /* portfolio */

    .nav-btn-list{
        justify-content: center;
    }
    .portfolio-cards {
        padding-top: 64px; 
        padding-bottom: 96px;
    }

    .portfolio-cards-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
  
    .portfolio-cards-item{
        width: calc((100% - 24px) / 2);
    }

    .footer-container{
        min-width: 768px;
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        align-items: baseline;
        gap: 72px 24px;
    }

    .footer-link{
        justify-content: flex-start;
    }

    .footer-soc-wrap{
        justify-content: flex-start;
    }

    .subscribe-container{
        align-items: flex-start;
        width: auto;
    }

    .subscribe-label{
        width: 264px;
    }

    .subscribe-form{
        flex-direction: row;
        justify-content: flex-start;
    }
  }
  

  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }

    .hamburger-btn{
        display: none;
        visibility: hidden;
        pointer-events: none;
    }

    .mob-menu{
        display: none;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .main-nav-list{
        display: flex;
        gap: 40px;
      }
    
      .address{
        display: flex;
      }

      .current-page::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background: #404BBF;
        border-radius: 2px; 
        display: block;
       
    }

    .hero-title{
        color: var(--color-footer-logo);
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
        max-width: 496px;
        }

        @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .overlay {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url("../images/hero-bg/people-office-x2.jpg");
      }
    }

       .preferences{
        padding: 120px 0;
       }

        .preferences-list{
            display: flex;
            gap: 24px;
            
        }

        .preferences-item{
            width: calc((100% - 72px) / 4); 
            display: block;
        }

        .preferences-icon-box{
            display: flex;
        }

        .preferences-text{
            letter-spacing: 0.01em;
        }

        .projects-intro{
            display: flex;
        }

        .team {
            padding: 120px 0;
        }

        .team-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;
            border-radius: 0px 0px 4px 4px;
        
        }
        .team-item{
            width: calc((100% - 72px) / 4);
        }


        .customers {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .customers-container {
            width: 1158px;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0 auto;
           
        }

        .customers-item {
            width: calc((100% - 120px) / 6); 
           
        }

        /* portfolio */
        .nav-btn-list{
            justify-content: center;
            margin-bottom: 72px;
        }

        .portfolio-cards {
            padding-top: 100px; 
            padding-bottom: 120px;
        }

        .portfolio-cards-list{
            flex-direction: row;
            gap: 24px;
        }

        .portfolio-cards-item{
           width: calc((100% - 48px) / 3); 
        }

        .footer-link{
            justify-content: flex-start;
        }

        .footer-soc-wrap{
            justify-content: flex-start;
        }

        .subscribe-container{
            width: auto;
            align-items: flex-start;
        }
        .subscribe-label{
            width: 264px;
        }
        
        .subscribe-form{
            flex-direction: row;
        }

        .subscribe-input{
            width: 264px;
        }

        
        .footer-container{
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            
        }
  }